[submodule "foundry-defi-stablecoin-f23/lib/chainlink-brownie-contracts"]
	path = foundry-defi-stablecoin-f23/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
